body {
	background-color: rgba(0, 0, 0, 1);
	overflow-y: hidden;
	overflow-x: hidden;
}

#cv {
	display: block;
	margin: 50px auto;
	width: 800px;
	height: 600px;
	border: solid 1px black;
	background-image: url("../Resources/background.jpg");
	background-repeat: no-repeat;
}
#panel{
	position:absolute;
	right: 70px;
	top:100px;
	width: 250px;
	height: 250px; 
	margin: auto;
	border: solid 0px red;
	background-size: contain;
	background-image: url("../Resources/texture.jpg");
}
.time_block{
	position: absolute;
	height: 50px;
	width: 280px;
	top: 120px;
	right: 15px;
}
#demo{
	/* position: absolute; */
	font-family: Impact, Charcoal, sans-serif;
	left: 80px;
	line-height: 10px;
	position: absolute;
	font-size: 20px;
	font-weight: 500;
	color: black;
	/* color: #E7534C; */
}
.time{
	float: left;
	left: 50px;
	width: 50px;
	height: 50px; 
	margin: auto;
	border: solid 0px red;
	background-size: contain;
	background-image: url("../Resources/timer-icon.png");
	
}
.gift_block{
	position: absolute;
	height: 50px;
	width: 280px;
	top: 200px;
	right: 15px;
}
#demo_gift{
	/* position: absolute; */
	font-family: Impact, Charcoal, sans-serif;
	left: 80px;
	line-height: 10px;
	position: absolute;
	font-size: 20px;
	font-weight: 500;
	color: black;
	/* color: #E7534C; */
}
.gift{
	float: left;
	left: 50px;
	width: 50px;
	height: 50px; 
	margin: auto;
	border: solid 0px red;
	background-size: contain;
	background-image: url("../Resources/gift_icon.png");
	
}
.money_block{
	position: absolute;
	height: 50px;
	width: 280px;
	top: 280px;
	right: 15px;
}
#demo_money{
	/* position: absolute; */
	font-family: Impact, Charcoal, sans-serif;
	left: 80px;
	line-height: 10px;
	position: absolute;
	font-size: 20px;
	font-weight: 500;
	color: black;
	/* color: #E7534C; */
}
.money{
	float: left;
	left: 50px;
	width: 50px;
	height: 50px; 
	margin: auto;
	border: solid 0px red;
	background-size: contain;
	background-image: url("../Resources/money_icon.png");
	
}
#tree_1 {
    display: block;
	position: absolute;
    top: 50px;
	width: 300px;
	height: 600px;
	left: 50%;
	margin-left: -400px;
	border: solid 0px white;
}